@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hv54il');
  src:  url('fonts/icomoon.eot?hv54il#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hv54il') format('truetype'),
    url('fonts/icomoon.woff?hv54il') format('woff'),
    url('fonts/icomoon.svg?hv54il#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compress:before {
  content: "\e908";
}
.icon-expand:before {
  content: "\e905";
}
.icon-chat_bubble_outline:before {
  content: "\e907";
}
.icon-sign-out:before {
  content: "\e91a";
}
.icon-toggle-on:before {
  content: "\e91b";
}
.icon-toggle-off:before {
  content: "\e91c";
}
.icon-lock:before {
  content: "\e916";
}
.icon-envelope-o:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-cog:before {
  content: "\e919";
}
.icon-gear:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e915";
}
.icon-close:before {
  content: "\e914";
}
.icon-cogs:before {
  content: "\e913";
}
.icon-group:before {
  content: "\e909";
}
.icon-users:before {
  content: "\e909";
}
.icon-angle-double-right:before {
  content: "\e90a";
}
.icon-angle-double-left:before {
  content: "\e90b";
}
.icon-chevron-left:before {
  content: "\e90c";
}
.icon-bar-chart:before {
  content: "\e90d";
}
.icon-bar-chart-o:before {
  content: "\e90d";
}
.icon-bars:before {
  content: "\e90e";
}
.icon-navicon:before {
  content: "\e90e";
}
.icon-reorder:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e90f";
}
.icon-ellipsis-h:before {
  content: "\e910";
}
.icon-line-chart:before {
  content: "\e911";
}
.icon-chevron-down:before {
  content: "\e912";
}
.icon-bell-o:before {
  content: "\e906";
}
.icon-bars1:before {
  content: "\e902";
}
.icon-navicon1:before {
  content: "\e902";
}
.icon-reorder1:before {
  content: "\e902";
}
.icon-bitcoin:before {
  content: "\e901";
}
.icon-twitter-square:before {
  content: "\e900";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
