@import url(fontiran.css);
@import url(roboto.css);

* {
  font-family: iranyekan;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-decoration: none;
  list-style-type: none;
  text-align: right;
}

button,
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="email"],
textarea,
select {
  font-family: iranyekan;
}

a {
  text-decoration: none;
}

.color-porpul {
  color: #404e67;
}

.color-white {
  color: white;
}

.color-white-low {
  color: #dcdcdc;
}

.color-pink {
  color: #fe8a7d;
}

.bg-gray {
  background-color: #404e67;
}

.font-span {
  font-size: 1.2rem;
}

.pointer {
  cursor: pointer;
}

header {
	line-height: 3.5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	align-items: stretch;
	z-index: 9;
}

.body-header {
  background-color: #fff;
  width: 100%;
  display: none;
}

.sidebar-header {
  width: 100%;
}

.header-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.header-username {
  color: #333333;
  font-size: 0.8rem;
}

.font-w-600 {
  font-weight: 600;
}

.notify {
  background-color: #dc3545 !important;
  padding: 2px 3px 0px 3px !important;
  margin-right: -5px !important;
}

.wrapper-header-profile {
  margin-left: 15px;
}

.chevron-down-single {
  font-size: 10px;
}

.img-wrapper {
  margin-right: -37px;
}

.body-header-right {
  padding-right: 29px;
  justify-content: space-between;
  align-items: center;
}

.header-notifictation {
  position: absolute;
  right: calc(100% / 2);
  margin-top: 0.2rem;
  width: 15rem;
  background-color: white;
  color: #000000;
  box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
  display: none;
}

.notification-img {
  width: 50px;
  height: 55px;
}

.notification-user {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

.notification-text {
  font-size: 0.7rem;
  line-height: 0.7rem;
}

.notification-time {
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: #919aa3;
}

.header-comment {
  position: absolute;
  height: calc(100vh - 3.5rem);
  width: 15rem;
  background-color: #ffffff;
  color: black;
  box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  display: none;
  right: calc(100% / 2);
}

.header-comment-wrapper {
  height: calc(100% - 6rem);
  overflow: auto;
}

.header-comment-wrapper::-webkit-scrollbar {
  display: none;
}

.comment-user {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.8rem;
}

.comment-user-status {
  font-size: 0.4rem;
}

.header-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.header-username {
  color: #333333;
  font-size: 0.8rem;
}

.header-profile {
  position: absolute;
  margin-top: 0.2rem;
  left: 0;
  z-index: 1000;
  height: auto;
  width: 13rem;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
  display: none;
}

.header-profile-link {
  padding: 0.4rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.header-profile-link > i {
  width: 2rem;
  text-align: center;
}

.header-profile-section {
  position: absolute;
  left: 15px;
  margin-top: 0.2rem;
  width: 11rem;
  background-color: white;
  color: #000000;
  box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
  display: none;
}

.aside-container {
  background-color: #404e67;
  height: calc(100vh - 3.5rem);
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 20rem;
  padding: 1rem;
  overflow-y: scroll;
}

.aside-container::-webkit-scrollbar {
  display: none;
}

.aside-container {
	scrollbar-width: none;
	height: calc(100vh - 3.5rem);
	position: fixed;
	right: 0;
	top: 3.5rem;
	z-index: 10000;
}

#toggle-off {
	margin-top: 1px;
	display: block;
}

aside {
	flex-basis: 20rem;
	display: none;
  z-index: 9;
}

.main-body {
	width: 100%;
	padding: 1rem;
	min-height: calc(100vh - 3.5rem);
	background-color: #f3f3f3;
	display: block;
}

.sidebar-link {
	color: #dcdcdc;
	font-size: 0.8rem;
	transition: all 0.3s;
	display: block;
	margin-bottom: 2rem;
}

.sidebar-link:hover {
  color: #fe8a7d;
}

.sidebar-part-title {
	color: #999;
	font-size: 0.9rem;
	margin-top: 2rem;
}

.sidebar-dropdown-toggle {
	transition: all 0.3s;
	color: #dcdcdc;
	font-size: 0.8rem;
}

.sidebar-dropdown-toggle:hover span {
  color: #f7f7f7;
}

.sidebar-group-link > .sidebar-dropdown {
	display: none;
	height: 0;
}

.sidebar-group-link-active > .sidebar-dropdown {
	height: auto !important;
	display: block !important;
}

.angle {
	float: left;
	font-size: .7rem;
}

.sidebar-dropdown a {
	padding: .2rem 1rem;
	display: block;
	color: #dcdcdc;
	transition: all .3s;
	font-size: .75rem;
	position: relative;
}

.sidebar-dropdown a::before {
	content: "\e90b";
	font-family: icomoon;
	position: absolute;
	right: 5px;
	font-size: .6rem;
	top: 5px;
}

.sidebar-dropdown a::before {
	content: "\e90b";
	font-family: icomoon;
	position: absolute;
}

.bg-custom-yellow {
  background: linear-gradient(to right, #feb798, #fe9365);
}

.bg-custom-green {
  background: linear-gradient(to right, #0df3a3, #0ac282);
}

.bg-custom-pink {
  background: linear-gradient(to right, #fe909d, #fe5d78);
}

.bg-custom-blue {
  background: linear-gradient(to right, #01dbdf, #01a9ac);
}

.body-container {
	margin-top: 3.5rem;
	z-index: 100000;
}

.info-box-body h5 {
	font-size: .9rem;
	line-height: 1rem;
	font-weight: 400;
}

.info-box-body p {
	font-size: .7rem;
	line-height: 1rem;
	font-weight: 400;
}

.info-box-footer {
	font-size: .6rem;
	text-align: center;
}

.info-box-icon span {
	font-size: 2rem;
}

.single-card {
	margin-bottom: 1.5rem;
}

.single-card-body {
	padding: 1.5rem 1rem;
}

.about-body h2 {
	font-size: 1rem;
	font-weight: bold;
}

.description-body {
	font-size: .8rem;
	color: #777;
}

.content-body {
  font-size: .8rem;
}

.search-area {
	background-color: #dcdcdc;
	padding: .3rem .6rem;
	border-radius: 2rem;
}

.search-input {
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	border: none;
	margin: 0 .6rem;
}


/* responsive */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

  #search-toggle {
    display: none;
  }

  .sidebar-header {
    flex-basis: 14rem;
  }

  aside {
    flex-basis: 20rem;
    display: block;
    z-index: 9;
  }

  .aside-container {
    width: 14rem;
  }

  .body-header {
    width: calc(100% - 14rem);
    display: block;
  }

  .wrapper-header-profile {
    margin-left: 35px;
  }
}

@media (min-width: 992px) {
  #search-toggle {
    display: block;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
